.card {
    width: 20%;
    height: 8rem;
    background: #b4cbfd;
    border-radius: 0.2rem;
    box-shadow: 3px 3px 5px rgb(95, 94, 94);
    padding: 0.5rem;
}

.icons {
    display: flex;
    justify-content: end;
}

.icon {
    margin: 0 0.5rem;
}

.title {
    text-align: center;
    
}

.description {
    text-align: center;
}