.card {
    // max-width: 230px;
    // flex: 1 0 230px;
    height: 100%;
    background: #b4cbfd;
    border-radius: 0.2rem;
    box-shadow: 3px 3px 5px rgb(95, 94, 94);
    padding: 0.7rem;
    box-sizing: border-box;
    overflow: hidden;
}

.icons {
    display: flex;
    justify-content: end;
}

.icon {
    margin: 0 0.5rem;
}

.title {
    text-align: center;
    margin: 1rem 0;
}

.description {
    text-align: center;
}