.mainPage {
  max-width: 1920px;
  padding: 15px;
}

.board {
  max-width: 250px;
  min-height: 50px;
  padding: 5px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  border-width: 1px;
  border-color: rgb(110, 110, 110);
  border-style: solid;
  box-shadow: 0 0 12px 0 rgb(110, 110, 110);
  background-color: rgb(110, 110, 110);
  color: white;
  border-radius: 15px;
  opacity: 0.8;
  transition: 0.3s;
  margin: 10px 0;
}

.main_route_sidebar {
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 1rem;
  border-color: #f9f9f9;
  border-style: solid;
  box-shadow: 0 0 12px 0 #bcbcbc;
  color: rgb(110, 110, 110);
}

.board:hover {
  cursor: pointer;
  opacity: 1;
}

.boardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  border-radius: 15px;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  max-width: 300px;
  min-height: 100px;
  min-width: 240px;
  margin: 34px;
  position: relative;

  @media screen and (max-width: 800px) {
    max-width: 230px;
    transform: scale(0.85);
  }
}

.deleteIcon_wrapper {
  transform: scale(1.4);
  position: absolute;
  top: 15px;
  right: -20px;
}

.deleteIcon:not(:hover) {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
  transform: rotate(0deg);
}

.deleteIcon:hover {
  cursor: pointer;
  transition: 0.2s;
  opacity: 1;
  transform: rotate(-45deg);
}

.list {
  list-style: none;
  padding-left: 0;
}

.list-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
