.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6e6e6e;
  padding: 10px 50px 10px 50px;

  .footer__project {
    display: flex;
    gap: 10px;

    &_school {
      max-height: 60px;
    }

    &_task {
      max-height: 60px;
    }
  }

  .footer__team {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 10px;

    &_link {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      text-decoration: none;
      color: #ffffff;
    }
  }

  .footer__year {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #ffffff;
  }
}

@media (max-width: 650px) {
  .footer {
    flex-direction: column;
    padding: 10px 0 10px 0;
  }

  .footer__project {
    max-width: 100%;
    height: auto;
  }
}
